
.list-group-item {
  line-height: 2.5;
}

form.signup,
form.login {
  margin-top: 50px;
}

#jumboHome {
  background-image: url("../images/candycane.jpg");
  background-size: cover;
  height: 100vh;
}

#jumboSearch {
  background-image: url("../images/boxes.jpg");
  background-size: cover;
  height: 75vh;
}

#jumboList {
  background-image: url("../images/goldpresent.jpg");
  background-size: cover;
  height: 75vh;
}

#jumboView{
  background-image: url("../images/stars.jpg");
  background-size: cover;
  height: 75vh;
}

/* home page buttons */
.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
  background-color: rgb(27, 82, 27) !important;
}

/* create list page button */
.btn-secondary{
background-color:rgb(63, 56, 17)!important;
}

.jumboHomeText{
  margin-top: 60px;
  font-family: 'Candal', sans-serif;
  color: white;
  
}
.jumboSearchText{
  font-family: 'Candal', sans-serif;
  color:rgb(63, 56, 17);
}
.jumboViewText{
  font-family: 'Candal', sans-serif;
  color: rgb(114, 102, 32);
  margin-top: 60px;
}
.login-form-style{
  font-family: 'Candal', sans-serif;
  font-size: large;
}

#loginForm {
  min-height: 100vh;
}

.navbar{
background-color: rgb(238, 231, 231);
font-family: 'Candal', sans-serif;
}

.icon{
    font-size: 30px;
    height: 30px;
    float: right;
    /* text-align: right;
    vertical-align: right;
    justify-content: right; */

}


body {
  font-family: 'Candal', sans-serif;
}

.wishlistName {
  font-size: 36px;
  font-weight: bold;
}