.list-group-item {
  line-height: 2.5;
}

form.signup,
form.login {
  margin-top: 50px;
}

#jumboHome {
  background-image: url("../images/candycane.jpg");
  background-size: cover;
  height: 75vh;
}

#jumboSearch {
  background-image: url("../images/boxes.jpg");
  background-size: cover;
  height: 75vh;
}

#jumboList {
  background-image: url("../images/goldpresent.jpg");
  background-size: cover;
  height: 75vh;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:visited {
  background-color: rgb(27, 82, 27) !important;
}

.jumboHomeText{
  margin-bottom: -10vh;
}
